.cooperation
  padding: 65px 0
  &_title
    max-width: 870px
    width: 100%
  &_wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &_item
    margin-top: 45px
    display: flex
    align-items: center
    &__img
      position: relative
      & .icon
        position: relative
      & .point
        position: absolute
        top: -18px
        right: -15px
        z-index: -1